[submodule "lib/libcsp"]
  path = lib/csp
  url = https://github.com/spaceinventor/libcsp
  branch = master     
[submodule "lib/libparam"]
  path = lib/param
  url = https://github.com/spaceinventor/libparam
  branch = addin
[submodule "lib/slash"]
  path = lib/slash
  url = https://github.com/spaceinventor/slash
  branch = addin
[submodule "lib/yaml"]
	path = lib/yaml
	url = https://github.com/yaml/libyaml.git
[submodule "lib/csp_pipeline_config"]
	path = lib/csp_pipeline_config
	url = git@github.com:Lindharden/csp_pipeline_config.git
[submodule "lib/csp_ippc"]
	path = lib/csp_ippc
	url = git@github.com:Lindharden/csp_ippc.git
