[submodule "lib/libcsp"]
	path = lib/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "lib/libparam"]
	path = lib/param
	url = https://github.com/spaceinventor/libparam
[submodule "lib/slash"]
	path = lib/slash
	url = https://github.com/spaceinventor/slash
