[submodule "lib/libcsp"]
  path = lib/csp
  url = https://github.com/spaceinventor/libcsp
  branch = master     
[submodule "lib/libparam"]
  path = lib/param
  url = https://github.com/spaceinventor/libparam
  branch = master
[submodule "lib/slash"]
  path = lib/slash
  url = https://github.com/spaceinventor/slash
  branch = master
[submodule "lib/apm"]
	path = lib/apm
	url = https://github.com/spaceinventor/libapm_csh
